/* PC */
@media (min-width: 64em)
{

}

/* Tablet and Mobile */
@media (max-width: 63.9375em) {
    .place-buy-btn {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 2px 12px
    }

    
    #content .content-section {
        width: 100%;
    }


    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info {
        line-height: 2;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
    }
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em)
{

}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 26px;
    }

    #nav > li {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

    .place-buy-btn {
        width: 100%;
        text-align: center;
    }
}